<template>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" v-model="new_mod.name" class="form-control" id="name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" v-model="new_mod.surname" class="form-control" id="surname" placeholder="Enter Surname">
        </div>
        <div class="form-group">
            <label for="middle_name">Middle name</label>
            <input type="text" v-model="new_mod.middle_name" class="form-control" id="middle_name" placeholder="Enter middle name">
        </div>
        <div class="form-group">
            <label for="job">Job</label>
            <input type="text" v-model="new_mod.job" class="form-control" id="job" placeholder="Enter Job">
        </div>
        <button type="submit" class="btn btn-primary" @click="add_mod()">Submit</button>
    </form>
</template>

<script>
    export default {
        name: "CreateComponent",
        data(){
            return{
                new_mod:{
                    name:"",
                    surname:"",
                    middle_name:"",
                    job:""
                }
            }
        },methods:{
            add_mod(){
                event.preventDefault();
                var app = this;
                axios.post('api/mods',this.new_mod).then(resp=>{
                    app.$router.push({path: '/'});
                });
            }
        }

    }


</script>

<style scoped>

</style>