<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="">
                <div class="card card-default">
                    <div class="card-header">Example Component</div>
                        <table class="table table-dark">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">name</th>
                                <th scope="col">surname</th>
                                <th scope="col">middle_name</th>
                                <th scope="col">job</th>
                                <th scope="col">created_at</th>
                                <th scope="col">updated_at</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  v-for="(item,index) in items.data">
                                <th scope="row">{{item.id}}</th>
                                <td>{{item.name}}</td>
                                <td>{{item.surname}}</td>
                                <td>{{item.middle_name}}</td>
                                <td>{{item.job}}</td>
                                <td>{{item.created_at}}</td>
                                <td>{{item.updated_at}}</td>
                                <td style="display:flex">
                                    <button type="button" class="btn btn-warning" style="margin-right: 5px">Edit</button>
                                    <button type="button" class="btn btn-info" @click=delete_item(item,index)>Delete</button></td>
                            </tr>
                            </tbody>
                        </table>
                    <router-link :to="{name: 'createMod'}" class="btn btn-succes">
                        Create new
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                message:"Приветик",
                items:[]
            }
        },
        methods:{
            delete_item(item,index){
                axios.delete(`/api/mods/${item.id}`).then(resp=>{
                    this.items.data.splice(index,1);
                })
            }
        },
        mounted(){
            axios.get('/api/mods').then(resp=>{
               this.items = resp.data;
            });
        }
    }
</script>
